dante:
  server:
    logoutput: syslog stderr
    internal: 
      - host0 port = 1080
    external: 
      - host0
#   external_rotation: route 
    socksmethod: none
    clientmethod: none
    user_privileged: root # underscores will be replaced with dots (user_privileged => user.privileged)
    user_unprivileged: nobody
    timeout_negotiate: 30
    timeout_io: 0

    rules:
      - client_pass: # underscores will be replaced with spaces
          from: 10.0.0.0/8
          to: 0.0.0.0/0
          log: error connect disconnect

      - client_pass: 
          from: 192.168.0.0/16
          to: 0.0.0.0/0
          log: error connect disconnect

      - client_block:
          from: 0.0.0.0/0
          to: 0.0.0.0/0
          log: connect error

      - socks_pass: 
          from: 0.0.0.0/0
          to: 1.2.3.4/32
          command: bind connect udpassociate
          log: error connect disconnect ioop

      - socks_pass:
          from: 0.0.0.0/0
          to: 20.0.0.0/8
          command: bindreply udpreply
          log: error connect disconnect # ioop

      - socks_block:
          from: 0.0.0.0/0
          to: 0.0.0.0/0
          log: error connect #

      #- monitor:
      #    from: 0.0.0.0/0
      #    to: 0.0.0.0/0
      #    protocol: tcp
      #    external_alarm_disconnect: 1/2 in 5 # underscores will be replaced with dots
      #
      #- route:
      #    from: 10.0.0.0/8
      #    to: 0.0.0.0/0
      #    port: http
      #    via: socks.example.net
      #    via_port: socks
