{% set dante = salt['grains.filter_by']({
    'Ubuntu': {
        'pkg': 'dante-server',
        'service': 'danted',
        'config': '/etc/danted.conf',
    },
    'Debian': {
        'pkg': 'dante-server',
        'service': 'danted',
        'config': '/etc/danted.conf',
    },
    'Arch': {
        'pkg': 'dante',
        'service': 'sockd',
        'config': '/etc/sockd.conf',
    },
}) %}
