# Managed by Salt

logoutput: {{ config.logoutput }}

internal: {{ config.internal }}
external: {{ config.external }}

socksmethod: {{ config.socksmethod }}
clientmethod: {{ config.clientmethod }}

user.privileged: {{ config.user_privileged }}
user.notprivileged: {{ config.user_notprivileged }}
user.libwrap: {{ config.user_libwrap }}

{% for client_pass in config.client_pass %}
client pass {
        from: {{ client_pass.from }} to: {{ client_pass.to }}
        log: {{ client_pass.log }}
}
{% endfor %}

{% for client_block in config.client_block %}
client block {
        from: {{ client_block.from }} to: {{ client_block.to }}
        log: {{ client_block.log }}
}
{% endfor %}


{% for socks_pass in config.socks_pass %}
socks pass {
        from: {{ socks_pass.from }} to: {{ socks_pass.to }}
        command: {{ socks_pass.command }}
        log: {{ socks_pass.log }}
}
{% endfor %}

{%- if config.monitor is defined %}
{% for monitor in config.monitor %}
monitor {
        from: {{ monitor.from }} to: {{ monitor.to }}
        protocol: {{ monitor.protocol }}

        {%- if monitor.internal_alarm_data_recv is defined %}
        internal.alarm.data.recv: {{ monitor.internal_alarm_data_recv }}
        {%- endif %}
	{%- if monitor.internal_alarm_data_send is defined %}
        internal.alarm.data.send: {{ monitor.internal_alarm_data_send }}
        {%- endif %}
        {%- if monitor.external_alarm_data_recv is defined %}
        external.alarm.data.recv: {{ monitor.external_alarm_data_recv }}
        {%- endif %}
        {%- if monitor.external_alarm_data_send is defined %}
        external.alarm.data.send: {{ monitor.external_alarm_data_send }}
        {%- endif %}

        {%- if monitor.internal_alarm_disconnect is defined %}
        internal.alarm.disconnect: {{ monitor.internal_alarm_disconnect }}
        {%- endif %}
        {%- if monitor.external_alarm_disconnect is defined %}
        external.alarm.disconnect: {{ monitor.external_alarm_disconnect }}
        {%- endif %}
}
{% endfor %}
{%- endif %}
