# Managed by Salt

{%- if config.logoutput is defined %}
logoutput: {{ config.logoutput }}
{%- endif %}

{%- if config.internal is defined %}
internal: {{ config.internal }}
{%- endif %}
{%- if config.external is defined %}
external: {{ config.external }}
{%- endif %}

{%- if config.socksmethod is defined %}
socksmethod: {{ config.socksmethod }}
{%- endif %}
{%- if config.clientmethod is defined %}
clientmethod: {{ config.clientmethod }}
{%- endif %}

{%- if config.user_privileged is defined %}
user.privileged: {{ config.user_privileged }}
{%- endif %}
{%- if config.user_notprivileged is defined %}
user.notprivileged: {{ config.user_notprivileged }}
{%- endif %}
{%- if config.user_libwrap is defined %}
user.libwrap: {{ config.user_libwrap }}
{%- endif %}

{%- if config.client_pass is defined %}
{% for client_pass in config.client_pass %}
client pass {
        from: {{ client_pass.from }} to: {{ client_pass.to }}
        log: {{ client_pass.log }}
}
{% endfor %}
{%- endif %}

{%- if config.client_block is defined %}
{% for client_block in config.client_block %}
client block {
        from: {{ client_block.from }} to: {{ client_block.to }}
        log: {{ client_block.log }}
}
{% endfor %}
{%- endif %}

{%- if config.socks_pass is defined %}
{% for socks_pass in config.socks_pass %}
socks pass {
        from: {{ socks_pass.from }} to: {{ socks_pass.to }}
        command: {{ socks_pass.command }}
        log: {{ socks_pass.log }}
}
{% endfor %}
{%- endif %}

{%- if config.monitor is defined %}
{% for monitor in config.monitor %}
monitor {
        from: {{ monitor.from }} to: {{ monitor.to }}
        protocol: {{ monitor.protocol }}

        {%- if monitor.internal_alarm_data_recv is defined %}
        internal.alarm.data.recv: {{ monitor.internal_alarm_data_recv }}
        {%- endif %}
	{%- if monitor.internal_alarm_data_send is defined %}
        internal.alarm.data.send: {{ monitor.internal_alarm_data_send }}
        {%- endif %}
        {%- if monitor.external_alarm_data_recv is defined %}
        external.alarm.data.recv: {{ monitor.external_alarm_data_recv }}
        {%- endif %}
        {%- if monitor.external_alarm_data_send is defined %}
        external.alarm.data.send: {{ monitor.external_alarm_data_send }}
        {%- endif %}

        {%- if monitor.internal_alarm_disconnect is defined %}
        internal.alarm.disconnect: {{ monitor.internal_alarm_disconnect }}
        {%- endif %}
        {%- if monitor.external_alarm_disconnect is defined %}
        external.alarm.disconnect: {{ monitor.external_alarm_disconnect }}
        {%- endif %}
}
{% endfor %}
{%- endif %}
